<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
        	http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<import resource="classpath:spring-config/kafka.xml" />
	
	<dubbo:application name="${dubbo.name}" />

	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" />

	<dubbo:protocol name="dubbo" port="${dubbo.protocol}" />

	<!-- properties -->
	<bean id="configProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:config/system.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="false" />
		<property name="properties" ref="configProperties" />
	</bean>
	
	<!-- log4j -->
	<bean id="log4jInit" class="com.datasource.config.Log4jInit">
		<constructor-arg name="fileName" value="classpath:config/log4j.properties" />
	</bean>

	<!-- 初始化 -->
	<bean id="initData" class="com.datasource.data.init.InitData">
		<property name="dataProduction" ref="dataProduction"></property>
	</bean>

	<!-- dataProduction -->
	<bean id="dataProduction" class="com.datasource.data.production.DataProduction">
		<property name="iSend" ref="send"></property>
	</bean>
	
	<bean id="send" class="com.datasource.send.Send">
		<property name="kafka" ref="kaflaSend"></property>
		<property name="activeMq" ref="activeMq"></property>
<!-- 		<property name="dubboClient" ref="dubboSend"></property> -->
	</bean>
	
	<!-- kafka -->
	<bean id="kaflaSend" class="com.datasource.send.KafkaContainer">
		<property name="props" ref="kafkaConfig"></property>
	</bean>
	
	<!-- activeMq -->
	<bean id="activeMq" class="com.datasource.send.ActiveMqContainer"></bean>
	
	<!-- dubbo -->
<!-- 	<dubbo:reference id="dubboSend" interface="com.datasource.send.DubboContainer" /> -->
</beans>